{% extends "AppBundle::Sitio/layout.html.twig" %}
{% block content %}
<!--==========================
Intro Section
============================-->         
<section id="intro"> 
    <div class="intro-container"> 
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel"> 
            <ol class="carousel-indicators"></ol>                     
            <div class="carousel-inner" role="listbox"> 
                <div class="carousel-item active"> 
                    <div class="carousel-background">
                        <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/001.jpg') }}" alt="">
                    </div>                             
                    <div class="carousel-container"> 
                        <div class="carousel-content"> 
                            <h2>Arawi Apart - Las Gaviotas Mar de las Pampas</h2> 
                            <p>Alquiler de departamentos y aparts con servicios. </p> 
                            <!-- <a href="#featured-services" class="btn-get-started scrollto">Get Started</a> --> 
                        </div>                                 
                    </div>                             
                </div>                         
                <div class="carousel-item"> 
                    <div class="carousel-background">
                        <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/002.jpg') }}" alt="">
                    </div>                             
                    <div class="carousel-container"> 
                        <div class="carousel-content"> 
                            <h2>ACEPTAMOS MASCOTAS !!!</h2> 
                            <p>En Arawi sabemos que son parte de tu familia<br>Alojate con tu mascota, somos Pet Friendly !!!!</p> 
                            <!-- <a href="#featured-services" class="btn-get-started scrollto">Get Started</a> --> 
                        </div>                                 
                    </div>                             
                </div>                         
                <div class="carousel-item"> 
                    <div class="carousel-background">
                        <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/003.jpg') }}" alt="">
                    </div>                             
                    <div class="carousel-container"> 
                        <div class="carousel-content"> 
                            <h2>Piscina y solarium</h2> 
                            <!-- <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p> 
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a> --> 
                        </div>                                 
                    </div>                             
                </div>                                                 
            </div>                     
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">  <span class="carousel-control-prev-icon fas fa-angle-left" aria-hidden="true"></span>  <span class="sr-only">Previous</span></a>
            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">  <span class="carousel-control-next-icon fas fa-angle-right" aria-hidden="true"></span>  <span class="sr-only">Next</span></a>
        </div>                 
    </div>             
</section>
<!-- #intro --> 

<main id="main">
	<!--PROMOCIONES Section-->     

	{{ render(controller('AppBundle:Default:promociones')) }}
	
	<!-- #PROMOCIONES --> 

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="text-center">
        <h3>WhatsApp directo !!!</h3>
        <p>Hacé click acá y envianos tu consulta por WhatsApp, te responderemos inmediatamente</p>
        <a href="https://wa.me/5491154140776" target="_blank"><i class="fab fa-whatsapp fa-10x"></i></a>
      </div>
    </section>
    <!-- #call-to-action -->

	<!--==========================
    LOS APARTS Section
    ============================-->
    <section id="aparts"  class="section-bg" >
      	<div class="container">

	        <header class="section-header">
	          <h3 class="section-title">Los Aparts</h3>
	        </header>

        
        	<div class="row portfolio-container">
              <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <a href="{{ url('suite-2-personas') }}"><img src="{{ asset('bundles/app/maquetado/img/los-aparts/suite-2-personas.jpg') }}" class="img-fluid" alt="Suite doble - Arawi Apart - Las Gaviotas, Mar de las Pampas"></a>
                    </figure>
                    <div class="portfolio-info">
                        <h4><a href="{{ path('suite-2-personas') }}">Suite 2 personas</a></h4>
                        <p>Para 2 personas y un bebé</p>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                        <a href="{{ path('suite-2-personas-con-parrilla') }}"><img src="{{ asset('bundles/app/maquetado/img/los-aparts/suite-parrilla.jpg') }}" class="img-fluid" alt="Suite doble - Arawi Apart - Las Gaviotas, Mar de las Pampas"></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="{{ path('suite-2-personas-con-parrilla') }}">Suite 2 personas con parrilla</a></h4>
                            <p>Para 2 personas y un bebé</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                        <a href="{{ path('apart-4-personas') }}"><img src="{{ asset('bundles/app/maquetado/img/los-aparts/apart-4-personas.jpg') }}" class="img-fluid" alt="Suite doble - Arawi Apart - Las Gaviotas, Mar de las Pampas"></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="{{ path('apart-4-personas') }}">Apart 4 personas</a></h4>
                            <p>2 ambientes</p>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                        <a href="/interna.html"><img src="img/los-aparts/suite-2-personas-01.jpg" class="img-fluid" alt="Suite doble - Arawi Apart - Las Gaviotas, Mar de las Pampas"></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="#">Apart 3 ambientes</a></h4>
                            <p>Hasta 6 personas</p>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                        <a href="{{ path('duplex-6-personas') }}"><img src="{{ asset('bundles/app/maquetado/img/los-aparts/duplex-6-personas.jpg') }}" class="img-fluid" alt="Suite doble - Arawi Apart - Las Gaviotas, Mar de las Pampas"></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="{{ path('duplex-6-personas') }}">Dúplex 6 personas</a></h4>
                            <p>3 ambientes, dos baños</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                        <a href="{{ path('duplex-7-personas') }}"><img src="{{ asset('bundles/app/maquetado/img/los-aparts/duplex-7-personas.jpg') }}" class="img-fluid" alt="Suite doble - Arawi Apart - Las Gaviotas, Mar de las Pampas"></a>
                        </figure>
                        <div class="portfolio-info">
                            <h4><a href="{{ path('duplex-7-personas') }}">Dúplex 7 personas</a></h4>
                            <p>3 ambientes, 2 baños, balcón con parrilla.</p>
                        </div>
                    </div>
                </div>
        	</div>         
    	</div>
	</section>
    <!-- #los aparts -->


    <!--==========================
        Services Section
        ============================-->             
            <section id="servicios"> 
                <div class="container"> 
                    <header class="section-header wow fadeInUp"> 
                        <h3>Servicios</h3> 
                        <p>Nuestros aparts y departamentos cuentan con servicios y equipamiento para hacer que su estadía sea más confortable y agradable.
                        <br>Arawi Aparts - Las Gaviotas, Mar de las Pampas</p> 
                    </header>                     
                    <div class="row"> 
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Servicio de mucama</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>                         
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Ropa blanca</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>                      
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Piscina descubierta</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>                          
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Solarium sobre deck de madera</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>                          
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Parque con juegos infantiles</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>                          
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">WIFI Fibra Óptica</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>  
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Videoteca (variedad de películas a elección)</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>    
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Practicuna, silla para comer y bañera para bebé</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>           
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Sillones para llevar a la playa (2 por apart)</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>   
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Espacio para estacionar, semicubierto y descubierto</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>
                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s"> 
                            <div class="icon">
                                <i class="fas fa-check-circle"></i>
                            </div>                             
                            <h4 class="title"><a href="">Smart TV 43" en aparts y dúplex</a></h4> 
                            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> --> 
                        </div>                  
                    </div>                     
                </div>                 
            </section>
               


            <!--Google map-->
            <section id="ubicacion" class="section-bg wow fadeInUp">
                
                    <div id="mapa" class="container-fluid mt-5 mb-5">
                        <header class="section-header wow fadeInUp">
                            <h3>Ubicación</h3>
                        </header>
                    </div>
                    <div id="map-container" class="z-depth-1" style="height: 500px"></div>
                
            </section>

            <section id="contact" class="section-bg wow fadeInUp"> 
                <div class="container"> 
                    <div class="section-header"> 
                        <h3>Contacto</h3> 
                        <p>Ahora también podés contactarnos por WhasApp</p> 
                    </div>                     
                    <div class="row contact-info"> 
                        <div class="col-md-4"> 
                            <div class="contact-address"> 
                                <i class="ion-ios-location-outline"></i> 
                                <h3>Dirección</h3> 
                                <address>Punta del Este esquina Almirante Brown</address> 
                            </div>                             
                        </div>                         
                        <div class="col-md-4"> 
                            <div class="contact-phone"> 
                                <i class="ion-ios-telephone-outline"></i> 
                                <h3>Teléfono</h3> 
                                <p>Reservas: <a href="tel:11 54140776">11 5414-0776</a></p> 
                            </div>                             
                        </div>                         
                        <div class="col-md-4"> 
                            <div class="contact-email"> 
                                <i class="ion-ios-email-outline"></i> 
                                <h3>Email</h3> 
                                <p><a href="mailto:info@arawiapart.com.ar">info@arawiapart.com.ar</a></p> 
                            </div>                             
                        </div>                         
                    </div>                     
                    <div class="form"> 
                        <div id="sendmessage">Su consulta ha sido enviada. Gracias!</div>                         
                        <div id="errormessage"></div>                         
                        <form action="" method="post" role="form" class="contactForm"> 
                            <div class="form-row"> 
                                <div class="form-group col-md-4"> 
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Por favor ingrese al menos 4 caracteres"/> 
                                    <div class="validation"></div>                                     
                                </div>                                 
                                <div class="form-group col-md-4"> 
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Por favor ingrese un email válido"/> 
                                    <div class="validation"></div>                                     
                                </div> 
                                <div class="form-group col-md-4"> 
                                    <input type="telefono" class="form-control" name="telefono" id="telefono" placeholder="Teléfono" data-rule="telefono" data-msg="Por favor ingrese su número de teléfono"/> 
                                    <div class="validation"></div>                                     
                                </div>                                 
                            </div>                             
                                                         
                            <div class="form-group"> 
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escriba un mensaje" placeholder="Mensaje"></textarea>                                 
                                <div class="validation"></div>                                 
                            </div>                             
                            <div class="text-center">
                                <button type="submit">Enviar Mensaje</button>
                            </div>                             
                        </form>                         
                    </div>                     
                </div>                 
            </section>
            <!-- #contact --> 

	
</main>	
{% endblock %}