<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106865497-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());

		gtag('config', 'UA-106865497-1');
		</script>

		<meta charset="utf-8"> 
        <title>Arawi Aparts - Las Gaviotas, Mar de las Pampas alquiler departamentos con servicios</title>         
        <meta content="width=device-width, initial-scale=1.0" name="viewport"> 
        <meta name="keywords" content="alquiler, apart, departamentos, las gaviotas, mar de las pampas, playa, vacaciones" />
        <meta name="description" content="Aparts con servicios, piscina, solarium, amplio parque, mucama, ropa blanca, WI-FI. A 400m del mar" />
        <meta name="author" content="www.lasgaviotas.travel" /> 

		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="shortcut icon" href="{{ asset('bundles/app/maquetado/img/favicon.ico') }}" type="image/x-icon" />
		
		<!-- Favicons -->
		<link rel="apple-touch-icon" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon.png') }}" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-57x57.png') }}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-72x72.png') }}" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-76x76.png') }}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-114x114.png') }}" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-120x120.png') }}" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-144x144.png') }}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-152x152.png') }}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-180x180.png') }}" />

		<meta property="og:title" content="Arawi Apart - Las Gaviotas" />
		<meta property="og:description" content="Aparts con servicios, piscina, solarium, amplio parque, mucama, ropa blanca, WI-FI. A 300m del mar"/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.arawiapart.com.ar" >
		<meta property="og:image" content="http://www.arawiapart.com.ar/comob_r1_c1.jpg" />
		<meta property="og:site_name" content="www.arawiapart.com.ar" />
		<meta name="google-site-verification" content="QjTDQYagcRwB5iiHEeTMRpo8LwPGQQFG7nmj0Kep4dM" />

		<!-- Google Fonts -->         
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet"> 
        
        <!-- Bootstrap CSS File -->         
        <link href="{{ asset('bundles/app/maquetado/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> 
        
        <!-- Libraries CSS Files -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
        <link href="{{ asset('bundles/app/maquetado/lib/animate/animate.min.css') }}" rel="stylesheet"> 
        <link href="{{ asset('bundles/app/maquetado/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet"> 
        <link href="{{ asset('bundles/app/maquetado/lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet"> 
        <!-- Main Stylesheet File -->         
        <link href="{{ asset('bundles/app/maquetado/css/styles.css') }}" rel="stylesheet">	
	</head>

<body>
	<section id ="inicio">
        <div id="top-menu" class="container d-none d-md-block">
            <div class="row">
                <div class="col-sm-8">
                    <i class="telefono-top fas fa-phone"></i> (02255) 45-4780
                </div>
                <div class="redes-sociales col-sm-4 text-right">
                    <i class="fab fa-facebook-square fa-lg"></i>
                    <i class="fab fa-tripadvisor fa-lg"></i>
                </div>
            </div>
        </div>     
    </section>

    <header id="header"{% if interna %} class="interna" {% endif %}> 
        <!-- <div class="container-fluid"> --> 
        <div class="container sticky-top">
            <div id="logo" class="pull-left">                   
                 <h1><a href="#inicio"><img src="{{ asset('bundles/app/maquetado/img/logo.png') }}" alt="Arawi Apart - Las Gaviotas, Mar de las Pampas" title="" /></a></h1>
            </div>                 
            <nav id="nav-menu-container"> 
                <ul class="nav-menu"> 
                    <li class="menu-active">
                        <a {% if app.request.attributes.get('_route') == 'homepage' %} href="#inicio"{% else %} href="{{ path('homepage') }}#inicio"{% endif %}>Inicio</a>
                    </li>                         
                    <li>
                        <a {% if app.request.attributes.get('_route') == 'homepage' %} href="#promociones"{% else %} href="{{ path('homepage') }}#promociones"{% endif %}>Promociones</a>
                    </li>   
                    <li>
                        <a {% if app.request.attributes.get('_route') == 'homepage' %} href="#aparts"{% else %} href="{{ path('homepage') }}#aparts"{% endif %}>Los Aparts</a>
                    </li>                      
                    <li>
                        <a {% if app.request.attributes.get('_route') == 'homepage' %} href="#servicios"{% else %} href="{{ path('homepage') }}#servicios"{% endif %}>Servicios</a>
                    </li>
                    <li>
                        <a {% if app.request.attributes.get('_route') == 'homepage' %} href="#ubicacion"{% else %} href="{{ path('homepage') }}#ubicacion"{% endif %}>Ubicación</a>
                    </li>                        
                    <li>
                        <a {% if app.request.attributes.get('_route') == 'homepage' %} href="#contact"{% else %} href="{{ path('homepage') }}#contact"{% endif %}>Contacto</a>
                    </li>                         
                </ul>                     
            </nav>
            <!-- #nav-menu-container -->                 
        </div>             
    </header>
    <!-- #header -->  
	
	


{% block content %}
{% endblock %}


<!--==========================
Footer
============================-->         
<footer id="footer"> 
    <div class="footer-top"> 
        <div class="container"> 
            <div class="row"> 
                <div class="col-lg-3 col-md-6 footer-info"> 
                    <div class="logo">
                        <h1><a href="#inicio"><img src="{{ asset('bundles/app/maquetado/img/logo.png') }}" alt="Arawi Apart - Las Gaviotas, Mar de las Pampas" title="" /></a></h1>
                    </div>
                    <p>
                        Departamentos con servicios.<br>
                        A 3 cuadras del mar y 5 cuadras del los centros comerciales de Las Gaviotas y Mar de las Pampas.<br>
                        Amplio parque con juegos infantiles, solarium y piscina.<br>
                        Internet WIFI de alta velocidad con fibra óptica, servicio de mucama y ropa blanca.
                    </p> 
                </div>                         
                <div class="col-lg-3 col-md-6 footer-links"> 
                    <h4>Menú</h4> 
                    <ul> 
                        <li>
                            <i class="fas fa-angle-right"></i> 
                            <a href="#inicio">Incio</a>
                        </li>                                 
                        <li>
                            <i class="fas fa-angle-right"></i> 
                            <a href="#promociones">Promociones</a>
                        </li>                                 
                        <li>
                            <i class="fas fa-angle-right"></i> 
                            <a href="#aparts">Los Aparts</a>
                        </li>                                 
                        <li>
                            <i class="fas fa-angle-right"></i> 
                            <a href="#servicios">Servicios</a>
                        </li>                                 
                                                       
                    </ul>                             
                </div>                         
                <div class="col-lg-3 col-md-6 footer-contact"> 
                    <h4>Contacto</h4> 
                    <p> 
                        Punta del Este esq. Alte. Brown<br> 
                        Las Gaviotas, Mar de las Pampas<br> 
                        Buenos Aires, Argentina<br>  
                        <strong>Consultas:</strong> (11) 5414-0776<br>
                        <strong>WhatsApp:</strong> <a href="https://wa.me/5491154140776" target="_blank">+54911 5414-0776</a><br>
                        <strong>Email:</strong> <a href="mailto:info@arawiapart.com.ar">info@arawiapart.com.ar</a><br>  
                    </p> 
                    <div class="social-links"> 
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a> 
                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a> 
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a> 
                        <a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a> 
                        <!-- <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a> --> 
                    </div>                             
                </div>                         
                <div class="col-lg-3 col-md-6 footer-newsletter"> 
                    <h4>Nuestro Newsletter</h4> 
                    <p>Suscribite a nuestro newsletter para recibir ofertas y promociones por correo!</p> 
                    <form action="" method="post"> 
                        <input type="email" name="email">
                        <br><br>
                        <input type="submit" value="Suscribirse"> 
                    </form>                             
                </div>                         
            </div>                     
        </div>                 
    </div>                          
</footer>
<!-- #footer -->         

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> 

<!-- JavaScript Libraries -->         
    <script src="{{ asset('bundles/app/maquetado/lib/jquery/jquery.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/jquery/jquery-migrate.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/easing/easing.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/superfish/hoverIntent.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/superfish/superfish.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/wow/wow.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/waypoints/waypoints.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/owlcarousel/owl.carousel.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/lightbox/js/lightbox.min.js') }}"></script>         
    <script src="{{ asset('bundles/app/maquetado/lib/touchSwipe/jquery.touchSwipe.min.js') }}"></script>         
    <!-- Contact Form JavaScript File -->         
    <script src="{{ asset('bundles/app/maquetado/contactform/contactform.js') }}"></script>         
    <!-- Template Main Javascript File -->         
    <script src="{{ asset('bundles/app/maquetado/js/main.js') }}"></script>      
    <!-- <script src="https://maps.google.com/maps/api/js?key=AIzaSyCaJw8REV5CNiAQbirsgFxKonBLjAankBM"></script> -->
    <script src="https://maps.google.com/maps/api/js"></script>
    <script type="text/javascript">
        //GOOGLE MAP
        function regular_map() {
        var var_location = new google.maps.LatLng(-37.333774, -57.027959);

        var var_mapoptions = {
        center: var_location,
        zoom: 16,
        streetViewControl: true,
        mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        var var_map = new google.maps.Map(document.getElementById("map-container"),
        var_mapoptions);

        var var_marker = new google.maps.Marker({
        position: var_location,
        map: var_map,
        title: "ARAWI APARTS - Las Gaviotas, Mar de las Pampas"
        });
        }

        // Initialize maps
        google.maps.event.addDomListener(window, 'load', regular_map);
    </script>
</body>
</html>